# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Flask
instance/
webapp.cfg

# Virtual Environment
venv/
env/

# IDE-specific files
.idea/
.vscode/

# Compiled files
*.pyc

# Logs
*.log

# Environment-specific files
.env

# Dependency directories
lib/
lib64/
bin/
include/

# Custom files and directories
unique_id.txt
